body{
    background-color: black;
    color:blanchedalmond
}
h1{
    text-align: center;
    margin:10vh  0 0 0;
    height: 20vh;
}
.container{
    top:20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 90%;
    margin:auto;
    padding:6px;
    border:none;
    margin:5px;
    border-radius: 10px;
}
button{
    padding:6px;
    border:none;
    margin:5px;
    border-radius: 10px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    margin: 2%;
}
.card img{
    height:350px;
    width:18rem;
}
footer{
    text-align: center;
    color:greenyellow;
    font-weight: 600;
}
